@{
    ViewBag.Title = "سفارش شما انجام شد";
}

<h2>با تشکر از خرید شما از وب سایت تک لیست!</h2>

<h4>سفارش شما با موفقیت ثبت شد</h4>
<h4>و بسته شما ظرف یک هفته تا 10 روز از طریق پست بدست شما خواهد رسید.</h4>
