@model TechlistShop.WebUI.Models.ProductListViewModel
<style>
    #carousel-1 {
        width: 710px;
        height: 260px;
        margin: 0 auto;
        margin-bottom: 55px;
    }

    #carousel-1 .carousel-inner {
        height:260px;
        box-shadow: 0 1px 3px rgba(0,0,0,.2);
    }

    #carousel-1 .carousel-indicators {
        background-color: #464646;
        height: 43px;
        top: 260px;
        width: 710px;
        right: 0;
        border-bottom-left-radius: 4px;
        border-bottom-right-radius: 4px;
        border-bottom:3px solid #fff;
        text-align:right;
        box-shadow: 0 1px 3px rgba(0,0,0,.2);
        padding-right:0;
    }

    #carousel-1 .carousel-indicators li {
        text-align:center;
        border-radius: 0;
        display: inline-block;
        position:relative;
        width: 100px; 
        min-width:70px;
        height: 43px;
        padding:10px;
        margin: 0; 
        text-indent:0; 
        border: 0;
        border-radius: 0; 
        cursor: pointer;
        color:#A5A5A5;
    }

    #carousel-1 .carousel-indicators li:hover {
        background-color: #fff;
        border-bottom: 3px solid #46A649;
    }

    #carousel-1 .carousel-indicators .active {
        margin: 0;
        width: 100px; 
        height:43px;
        background-color: #fff;
        border-bottom: 3px solid #46A649;
    }

    #carousel-1 .carousel-indicators li:hover:before {
        border-bottom:15px solid #fff;
        border-left:10px solid transparent;
        border-right:10px solid transparent;
        position:absolute;
        bottom:100%;
        width:0;
        height:0;
        right:40px;
        content:"";
        display:block;
    }

    #carousel-1 .carousel-indicators .active:before {
        border-bottom:15px solid #fff;
        border-left:10px solid transparent;
        border-right:10px solid transparent;
        position:absolute;
        bottom:100%;
        display:block;
        width:0;
        height:0;
        content:"";
        display:block;
        right:40px;
    }

    #carousel-1 .carousel-control.left, #carousel-1 .carousel-control.right {
        background-image: none;
    }

    #carousel-1 .carousel-control .icon-prev, #carousel-1 .carousel-control .icon-next, #carousel-1 .carousel-control .fa-chevron-left, #carousel-1 .carousel-control .fa-chevron-right {
        position: absolute;
        top: 50%;
        left: 40%;
        z-index: 5;
        display: inline-block;
        color: #fff;
        display: none;
    }

    #carousel-1 .carousel-inner {
        border-top-left-radius: 4px;
        border-top-right-radius: 4px;
    }

    /* Fade transition for carousel items */
    #carousel-1 .item {
        left: 0 !important;
          -webkit-transition: opacity 1s; /*adjust timing here */
             -moz-transition: opacity 1s;
               -o-transition: opacity 1s;
                  transition: opacity 1s;
    }
    #carousel-1 .carousel-control {
        background-image: none !important; /* remove background gradients on controls */
    }
    /* Fade controls with items */
    #carousel-1 .next.left,
    #carousel-1 .prev.right {
        opacity: 1;
        z-index: 1;
    }
    #carousel-1 .active.left,
    #carousel-1 .active.right {
        opacity: 0;
        z-index: 2;
    }
</style>

@*----------------------------------------------------*@

<div id="carousel-1" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
        @foreach(var c in Model.CarouselImages){
            if(c.Active == true){
                <li data-target="#carousel-1" data-slide-to="@(ViewBag.SlideToNumber++)">
                    @c.Caption
                </li>
            }
        }
    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner">
        @foreach(var c in Model.CarouselImages){
        <div class="item">
            <a href="@c.ImageLinkUrl">
                @if (c.ImageData != null && c.Active == true)
                {
                    <img style="width:710px; height:260px" src="@Url.Action("GetImage","CarouselImage", new{c.ImageId})" />   
                }
            </a>
        </div>
        }
    </div>

    <!-- Controls -->
    <a class="left carousel-control" href="#carousel-1" role="button" data-slide="next">
        <span class="fa fa-chevron-left fa-2x"></span>
    </a>
    <a class="right carousel-control" href="#carousel-1" role="button" data-slide="prev">
        <span class="fa fa-chevron-right fa-2x"></span>
    </a>
</div>

@* باید همین آخر باشه *@
<script>
    $("#carousel-1 .carousel-indicators li:first").addClass("active");
    $("#carousel-1 .carousel-inner .item:first").addClass("active");
</script>
