@{
    ViewBag.Title = "شبکه های اجتماعی";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="ListItemContainer">
    <div class="ListItem">
        <h4>در شبکه های اجتماعی به تک لیست بپیوندید:</h4>
        <hr />
        <br />
        <table class="table table-bordered" style="border:none;">
            <tr class="text-center">
                <td style="border:none;"><a href="#"><img src="~/Content/Images/SocialIcons/FaceBook.png" /></a></td>
                <td style="border:none;"><a href="#"><img src="~/Content/Images/SocialIcons/Github.png" /></a></td>
                <td style="border:none;"><a href="#"><img src="~/Content/Images/SocialIcons/Google.png" /></a></td>
                <td style="border:none;"><a href="#"><img src="~/Content/Images/SocialIcons/LinkedIn.png" /></a></td>
            </tr>
            
            <tr class="text-center">
                <td style="border:none;"><a href="#"><img src="~/Content/Images/SocialIcons/RSS.png" /></a></td>
                <td style="border:none;"><a href="#"><img src="~/Content/Images/SocialIcons/Twitter.png" /></a></td>
                <td style="border:none;"><a href="#"><img src="~/Content/Images/SocialIcons/Yahoo.png" /></a></td>
                <td style="border:none;"><a href="#"><img src="~/Content/Images/SocialIcons/YouTube.png" /></a></td>
            </tr>
        </table>
    </div>
</div>
